@font-face {
    font-family: LeagueFonts;
    src: url(../fonts/Friz_Quadrata_Regular.ttf);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #22212D;
}

::-webkit-scrollbar-thumb {
    background: #ffd54f;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-title{
    margin-left: 2%;
    margin-top: 2%;
    font-size: 26px;
    color: whitesmoke;
    font-family: LeagueFonts, serif;
    padding-bottom: 5px;
    border-bottom: 1px solid #263238;
}


body{
    background-color: #09232B;
    overflow: hidden;
}

nav{
    border-bottom : 2px solid #ffd54f;
}

#title-container{
    margin-left: -12em;
}


#navTitle{
    font-family: LeagueFonts, serif;
    padding-left: 1em;
}

.comps-list{
    margin-top: 15px;
    margin-left: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65vh;
}

.team-container {
    margin: 15px;
    border: 1px solid #ffd54f;
    width: 99%;
    border-radius: 8px;
    height: 80px;
    background-color: #263238;
}

.back-dark {
    background-color: #16152D;
}


.comps-list *:hover{
    transform: scale(1.007);
}

.comp-name{
    font-size: 23px;
    color: whitesmoke;
    font-family: LeagueFonts, serif;
    margin-top: 8px;
    margin-left: 2%;
    vertical-align: center;
}

.comp-author{
    font-size: 14px;
    color: whitesmoke;
    margin-top: 42px;
    margin-left: -78px;
    margin-right: 50px;
    font-style: italic;
}

.mini-champ{
    padding: 10px;
    margin-left: 1%;
}

